extends ./layout.pug

//- Create a block
block body

    div.container
        section
            div.col
                != PrismicDOM.RichText.asHtml(document.data.title, ctx.linkResolver)
                div.col1
                    != PrismicDOM.RichText.asHtml(document.data.description, ctx.linkResolver)

    img(src=document.data.mainimage.url).mainimage

    div.container
        section.second-level
            div.col.text-col
                != PrismicDOM.RichText.asHtml(document.data.secondleveltext, ctx.linkResolver)
            div.col
                img(src=document.data.girlimageright.url)

    .icons-col
        div.container
            div.col
             for slice in document.data.body

               case slice.slice_type

                 when 'icons'
                   h2.facts-main-title
                    != PrismicDOM.RichText.asText(slice.primary.facts_top_title)
                   p.facts-desc
                    != PrismicDOM.RichText.asText(slice.primary.sub_title)
                   section.wrapper-boxes
                       each featuredItem in slice.items
                         div.box
                             img(src=featuredItem.fact_image.url).factimage
                             != PrismicDOM.RichText.asHtml(featuredItem.facts_title, ctx.linkResolver)
                             != PrismicDOM.RichText.asHtml(featuredItem.facts_text, ctx.linkResolver)

    div.container
        section.last-level
            div.col
                img(src=document.data.manimageleft.url)
            div.col.text-col
                != PrismicDOM.RichText.asHtml(document.data.finalblockright, ctx.linkResolver)