html {
    font-size: 100%;
}

body {
    //-webkit-text-stroke-width: .05px;
    //-webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Lato, sans-serif;
    text-align: center;
    line-height: 1.2;
}

.container{
    width: 80%;
    margin: auto;
}

.col {
    padding: 50px 0px;
    margin: 25px;
}

h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.col1 {
    margin: auto;
    width: 60%
}

.col1 > p {
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

strong, b {
    font-weight: bold;
}

em {
    font-size: 12px;
}

img{
    width: 100%;
}

.text-col {
    text-align: left;
}

.text-col > p {
    padding: 5px;
}

/*----Emphasized Column text----*/
.text-col > p:first-child {
    border-left: solid 5px #eee;
    font-weight:bold;
    font-size: 22px;
    line-height: 1.4;
}

.mainimage{
    margin: 0;
    width: 90%;
}

.second-level {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(250px, 1fr);
    align-items: flex-start;
    justify-content: space-between;
}

/*----Facts start----*/
.icons-col {
    background: linear-gradient(180deg, #f8f8f8 0%, #f8f8f8 75%, #fff 75%);
    width:100%;
}

.factimage{
    width: 40px;
}

.facts-desc {
    padding: 10px 0 40px 0;
}

.wrapper-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
}

.wrapper-boxes > .box {
    margin: 15px 10px;
}

.box {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding: 20px;
    margin: 15px 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.box > img {
    padding: 5px 0;
}

.box > h3 {
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0;
}

.box > p {
    padding: 5px 0;
}

/*----Last level----*/
.last-level {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(250px, 1fr);
    align-items: center;
    justify-content: space-between;
}

/*----Media Queries----*/
@media screen and (max-width: 1200px) {
    .col1 {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container{
        width: 100%;
    }
    .mainimage{
        width: 100%;
    }
    .wrapper-boxes {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    .last-level {
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .col {
        padding: 0;   
    }
    h2.facts-main-title {
        padding-top: 50px;
    }
    .wrapper-boxes {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}